﻿body {
}

.form-container {
    background: white;
    /* display: inline-block; */
    margin: 100px auto;
    width: 400px;
}


.textBox-container {
    position: relative;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
   /* border: 1px solid #ccc; */
}

.td-titulo {
    text-align: center;
    font-size: 40px;
    color:blue;
}

.td-subtitulo {
    text-align: center;
    font-size: 30px;
    padding: 40px;
}

th, td {
    padding: 5px;
    text-align: left;
}

/* Estilos para TextBox */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align:left;
}

/* Estilos para os botões */
input[type="button"], input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"]:hover, input[type="submit"]:hover {
        background-color: red;
    }